body{
    background-color: red;
    background: url( "https://images.pexels.com/videos/8020671/pexels-photo-8020671.jpeg?auto=compress&cs=tinysrgb&h=100&w=140&fit=crop&crop=focalpoint&dpr=1
backround: linea gradient r